<template name="header">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="/home">Home</a>
        {{#if currentUser}}
          <a class="navbar-brand" href="/dashboard">Dashboard</a>
        {{/if}}
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            <li><a href="#" class="logout navbar-brand">Logout</a></li>
          {{else}}
            <li>
              <a class="navbar-brand" href="/Register">Sign Up</a>
            </li>
            <li>
              <a class="navbar-brand" href="/login">Sign In</a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
     {{> yield }}
  </div>
</template>